App {
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    min-height: 50px;
    padding: 10px 0;
    background: darkcyan;
    box-sizing: border-box;

}

.header__links {
    list-style-type: none;
    display: flex;
    width: 30%;
    justify-content: space-around;
}

.link {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: white;
    margin-left: 20px;
}

.link:active {
    color: red;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: auto;
    box-sizing: border-box;
    margin-top: 10px;
    position: sticky;
    bottom: 20px;
}

.input {
    margin: 10px 0 0;
    min-height: 30px;
    border: 1px solid darkseagreen;
    border-radius: 20px;
    padding: 10px;
    outline: none;
}

.messages {
    width: 50%;
}

.show-block {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border: 1px solid darkcyan;
    box-shadow: 1px 1px 20px darkcyan;
    border-radius: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
    width: 100%;
    min-height: 20px;
    box-sizing: border-box;

}

output {
    white-space: break-spaces;
    word-break: break-word;
}


.message-block {
    display: flex;
    box-sizing: border-box;
    height: 700px;
    overflow: scroll;

}

.chat-unit {
    width: 100%;
}

.chat-item {
    display: flex;
    flex-direction: column;
}

.chat-item:hover {
    border: 1px solid rebeccapurple;
}


.block-info {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    min-height: 900px;
}

.form-block {
    width: 100%;
    height: 30%;
    position: sticky;
    margin-top: 40px;
}

.outer {
    width: 100%;
    box-sizing: border-box;
}

.form-pair {
    display: flex;
    min-height: 40px;
    width: 100%;
    align-items: center;
}

.popup {
    position: fixed;
    width: 300px;
    height: 300px;
    top: 20%;
    left: 25%;
    background: aliceblue;
    display: none;
    z-index: 5;
}

.Mui-selected {
    box-shadow: 2px 1px 20px darkcyan;
}

.profile-form-block {
    width: 400px;
    min-height: 300px;
    border: 1px solid darkcyan;
    border-radius: 20px;
    padding: 30px 10px 20px 10px;
    margin-top: 40px;
}

.profile-user-title-data {
    font-size: 20px;
    font-variant: small-caps;
}

.profile-user-data {
    font-size: 18px;
}

.changed-data-message {
    margin: 30px 0;
    width: 400px;
    text-align: center;
    font-size: 20px;
    font-variant: small-caps;
    color: darkcyan;
    border: 1px solid darkcyan;
    padding: 15px;
}

.window-chats {
    display: flex;
}

.messages-form {
    min-height: 800px;
    width: 70%;
    padding: 20px;
    margin-left: 20px;
}

.message-wrapper {
    min-height: 600px;
    display: flex;
    flex-direction: column;

}

.my-textarea {
    height: 100%;
    width: 85%;
}

.my-Button {
    margin: 10px 0;
    min-height: 50px;
    min-width: auto;
    box-sizing: border-box;
}

.my-List {
    margin-bottom: 40px;
}

.my-Input {
    width: 100%;
    color: darkblue;
    min-height: 40px;
    margin-bottom: 20px;
}

.my-Button-popup {
    color: darkblue;
}

.my-Button-profile {
    margin: 10px 0;
    min-height: 50px;
}

.news-list {
    width: 100%;
    padding: 10px 30px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5,fit-content(20%));
    grid-gap: 10px;

}

.news-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    min-height: auto;
    margin-bottom: 20px;
    box-sizing: border-box;
}
.item-news {
    display: block;
    width: 100%;
    min-height: auto;
    margin-bottom: 10px;
}
.main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    padding-top: 100px;
}
.main-header{
    font-size: 9em;
    color: darkslateblue;
}